* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
header,section,footer{
	margin: 0 auto;
	width: 900px;
	overflow: hidden;
}
header{
	background-image: url("../images/INDEX.jpg");
	height: 200px;

}
footer{
	background-color: #EAC57B;
}
header h1{
	text-align: right;
	vertical-align: middle;
}
aside{
	width:350px;
	float: left;
}
aside figure{
	width: 80%;
	margin: 5px auto;
	text-align: center;
}
aside figure img{
	border: 5px solid #663300;
	padding: 3%;
	border-radius: 50%;
}
/***********  contenedor Articulos***************/
main{
	width:550px;
	float: left;
}
/**********Estilos para cada artículo ***********/
article h2,article p{
	text-align: center;
	margin: 0;
	padding: 0 0 0 5px;
} 
article p{
	text-align: justify;
} 
article figure{
	overflow: hidden;
}
article img{
	float: left;
	width: 30%;
}
article figcaption{
	float: left;
	width: 70%;
}

/**********  estilos del boton "Leer más" ***************/
.button{
	padding: 8px;
	border-radius: 5px 0 5px 0;
	background-color: #EAC57B;
	color: #fff;
	text-decoration: none;
	display: block;
	margin:  5px auto;
	width: 150px;
	text-align: center;
}